In [1]:
import pandas as pd

In [8]:
df_stroke = pd.read_csv('../data/stroke_data_cleanedJB.csv')

In [9]:
df_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,never smoked,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,never smoked,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,children,Rural,161.28,19.1,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43384,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43385,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43386,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43387,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43388,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [10]:
for column in df_stroke.columns:
    if column not in ["id", "age", "avg_glucose_level", "bmi"]:
        print(df_stroke[column].value_counts())
        print((df_stroke[column].value_counts() / len(df_stroke))*100)

Female    25665
Male      17724
Name: gender, dtype: int64
Female    59.150937
Male      40.849063
Name: gender, dtype: float64
0    39328
1     4061
Name: hypertension, dtype: int64
0    90.640485
1     9.359515
Name: hypertension, dtype: float64
0    41327
1     2062
Name: heart_disease, dtype: int64
0    95.247643
1     4.752357
Name: heart_disease, dtype: float64
Yes    27933
No     15456
Name: ever_married, dtype: int64
Yes    64.378068
No     35.621932
Name: ever_married, dtype: float64
Private          24827
Self-employed     6793
children          6293
Govt_job          5438
Never_worked        38
Name: work_type, dtype: int64
Private          57.219572
Self-employed    15.656042
children         14.503676
Govt_job         12.533131
Never_worked      0.087580
Name: work_type, dtype: float64
Urban    21751
Rural    21638
Name: Residence_type, dtype: int64
Urban    50.130217
Rural    49.869783
Name: Residence_type, dtype: float64
never smoked       21550
formerly smoked     7487
smokes              6561
Name: smoking_status, dtype: int64
never smoked       49.666966
formerly smoked    17.255526
smokes             15.121344
Name: smoking_status, dtype: float64
0    42606
1      783
Name: stroke, dtype: int64
0    98.195395
1     1.804605
Name: stroke, dtype: float64

In [14]:
print(sum(pd.isna(df_stroke["smoking_status"])))
print((sum(pd.isna(df_stroke["smoking_status"])) / len(df_stroke))*100)

7791
17.95616400470165

In [15]:
for column in ["age", "avg_glucose_level", "bmi"]:
    print(column)
    print(df_stroke[column].mean())
    print(df_stroke[column].std())

age
42.21974694046879
22.52074979786506
avg_glucose_level
104.48675977782386
43.11515686001645
bmi
28.605156089766524
7.770185740109893